.drawingBoard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.canvasContainer {
    position: relative;
}

.canvasContainer canvas {
    box-shadow: 0 0 2px black;
}

.resizer {
    width: 12px;
    height: 12px;
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    transform: translate3d(50%, 50%, 0);
    background-color: black;
    z-index: 1;
    cursor: se-resize;
}

.controls {
    margin-top: 1em;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}
